<%- include('partials/_header') %>
	

<%- include('partials/_navigation') %>
      <!-- end header -->
       <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Latest News</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- latest news -->
      <div class="latest">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                   
                     <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="news_img">
                     <figure><img src="/images/nes.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end latest news -->
    
  
<%- include('partials/_footer') %>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/js/custom.js"></script>
      <script src="/https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
      <script>
         baguetteBox.run('.tz-gallery');
      </script>
   </body>
</html>
